
.filter-wrap{
  height: 34px;
  line-height: 34px;
  margin-right: 8px;
  select{
    background: $bgColor;
    margin-right: 6px;
  }
}
.list-top {
  .form-inline .form-control{
      background: #eee;
  }
  .input-group-btn button{
      background: #efefef;
      &:hover{
          background: #28B779;
          border-color: #ccc;
      }
  }
}
